input{
    align-content: center;
}

#sitcomForm{
    float: left;
}

h1{

    text-align: center;
    border-style: dashed;
}

#addShow{
    margin-top: 5%;
    margin-left: auto;
    padding: auto;
}